<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <title>Gallery</title>
    <meta charset="UTF-8">
    <!-- Styles -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/static/css_ejs/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/static/css/layout.css" rel="stylesheet" type="text/css" media="all">

</head>
<body style="background-color:white;">

<header id="header" class="hoc clear"><br>
    <div id="contenedor">
        <!-- Logo -->
        <div id="logo" class="fl_left">
            <a href="http://127.0.0.1:3000/">
                <h1>LUSCOFUSCO</h1></a>
            <h2>GALLERY</h2>
            <p>This are the results of your search that we currently own or are holding for an exposition.</p>

        </div>

        <!-- Search button* -->
        <div id="cover">
            <form method="POST" action="/galleryResults">
                <div class="tb">
                    <div class="td">
                        <input type="text" placeholder="Search" name="nameArt" required/>
                    </div>
                    <div class="td" id="s-cover">
                        <button type="submit" onclick="location.href='https://luscofusco-galeria-afru.onrender.com/galleryResults';">
                            <div id="s-circle"></div>
                            <span></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br>
</header>
<!-- Gallery -->

<div class="scrollblock">
    <div class="container-fluid pt-10">
        <div class="row justify-content-md-center ">
            <div class="col-md-10 col-sm-12">
                <div class="card-columns-result">
                    <% artList.forEach(art => { %>
                        <div class="card-body">
                            <img class="card-img-top" alt="" src="<%= art.image %>">
                            <b><%= art.title %></b>
                            <p><%= art.description %></p>
                            <b>Collection:</b>
                            <p><%= art.ArtCollection %> </p>
                            <b>Artist:</b>
                            <p><%= art.author %> </p>
                            <b>Date Created:</b>
                            <p><%= art.displayDateCreated %></p>
                            <b>Place of creation:</b>
                            <p><%= art.placeOfCreation %></p>
                            <b>Room:</b>
                            <p><%= art.room %></p>
                            <b>Owned by:</b>
                            <p><%= art.ownedBy %></p>
                            <img alt="" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=<%= art.image %>">
                        </div>
                    <% }) %>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Gallery -->
<br><br>
<input class="button-6" type="button" onclick="location.href='http://127.0.0.1:3000/gallery';" value="GO BACK"/>
  <br><br>

</body>
</html>